
/* =============
    Scaffolding
   ============= */

html,
body {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font: 400 16px/1.4 'Ubuntu', Helvetica, Arial, sans-serif;
}

html *,
html *::before,
html *::after {
	box-sizing: inherit;
}

.page-wrapper {
	position: relative;

	background: #ecf0f1;
	min-height: 100%;

	border-top: 5px solid #95a5a6;
}

.container {
	max-width: 52rem;
	margin: auto;
	padding: 0 1rem;
}

/* Elements base styling */
p {
	margin: 0 0 .25rem;
}

/* Helper Classes */
.bold {
	font-weight: 700;
}


/* ========
    Header
   ======== */

.page-header {
	padding: 2rem 0 1.5rem;

	text-align: center;
}

.title {
	margin: 0 0 1rem;

	color: #7f8c8d;
	font-size: 3rem;
	font-weight: 300;
	text-transform: lowercase;
}

.subtitle {
	color: #bdc3c7;
}

@media (min-width: 768px) {
	.page-header {
		padding-top: 4rem;
		padding-bottom: 3rem;
	}

	.title {
		font-size: 4rem;
	}
}


/* ========
    Footer
   ======== */

.page-wrapper {
	padding-bottom: 3rem;
}

.page-footer {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 3rem;
	padding: .5rem 1rem;

	color: #7f8c8d;
	font-size: .8rem;
	text-align: center;
}

.page-footer a {
	color: inherit;
	text-decoration: none;
}

.page-footer a:hover {
	text-decoration: underline;
}

@media (min-width: 400px) {
	.page-footer {
		padding: 1rem;
	}
}


/* ===========
    Task Form
   =========== */

.task-input {
	background-color: transparent;
	width: 100%;
	padding: 0.5em 1.25rem;

	font-family: inherit;
	font-size: 1.75rem;
	font-weight: 300;
	line-height: 1;

	border: none 1px #bdc3c7;
	border-bottom-style: solid;
}

.task-input:focus {
	outline: none;
}


/* ===========
    Task List
   =========== */

.task-list {
	margin: 0;
	padding: 1.25rem 0;
	list-style: none;
}

.task {
	position: relative;
	padding: 1.25rem;

	color: #333;
	line-height: 1.25rem;

	cursor: pointer;
	transition: all .25s;
}

.task:hover {
	background-color: rgba(0, 0, 0, .04);
}

.task.task-complete {
	color: #95a5a6;
	text-decoration: line-through;
}

.task .close-btn {
	position: absolute;
	right: 1.25rem;

	background: none;

	color: #7f8c8d;
	font: inherit;

	border: none;
	cursor: pointer;
	transition: opacity .25s, color .25s;
}

.task:not(:hover) .close-btn {
	opacity: 0;
}

.task .close-btn:hover {
	color: #333;
}
